
    <div class="container">

        <h1 class="heading">HOTEL<span> EVENTS IN HOTEL</span></h1>
    
        <div class="gallery">
    
            <div class="gallery-item">
                <img class="gallery-image" src="assets/sw1.jpg" alt="HOTEL">
            </div>
    
            <div class="gallery-item">
                <img class="gallery-image" src="assets/hotal-img-1.jpg" alt="HOTEL">
            </div>
    
            <div class="gallery-item">
                <img class="gallery-image" src="assets/event3.jpg" alt="HOTEL">
            </div>
    
            <div class="gallery-item">
                <img class="gallery-image" src="assets/hotal-img-2.jpg" alt="HOTEL">
            </div>
    
            <div class="gallery-item">
                <img class="gallery-image" src="assets/4.jpg" alt="HOTEL">
            </div>
    
            <div class="gallery-item">
                <img class="gallery-image" src="assets/ter.jpg" alt="HOTEL">
            </div>
    
        </div>
    
    </div>