<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<div class="page-warp contact-us">
<div class="banner">
    <div class="page-spaceing">
        <a href="">
            <h1>CONTACT US</h1>
        </a>
    </div>
</div>
<div class="get-in-touch">
    <div class="page-spaceing">
        <h2>Get in Touch with us!</h2>
        <div class="grid-clm">
            <div>
                <i class="fa fa-mobile-phone" style="font-size:36px"></i>
                <h3>Phone</h3>
                <a href="tel:9892219891">Call : 989-221-9891</a><br>
                <a href="tel:9757374321">Call : 975-737-4321</a>

                </div>
            <div>
                <i class="fa fa-map-marker" style="font-size:36px"></i>
                <h3>Address</h3>
                <p>No.21 Green ways, choco city, </p>
                <p>Singapore</p>

                
            </div>
            <div>
                <i class="fa fa-envelope" style="font-size:36px"></i>
                <h3>Email</h3>
                <p>Mail us : ragayathri97@gmail.com</p><br>
                <p>Mail us : International@gmail.com</p>
                
            </div>

        </div>
    </div>

    <div class="bottom-i">
        <div class="page-spaceing">
            <h2>Connect with us!</h2>
            <i class="fa fa-instagram" style="font-size:36px"></i>
            <i class="fa fa-facebook-f" style="font-size:36px"></i>
            <i class="fa fa-twitter" style="font-size:36px"></i>
            <i class="fa fa-youtube-play" style="font-size:36px"></i>
            <i class="fa fa-linkedin-square" style="font-size:36px"></i>
        </div>
    </div>

    <div class="responsive-map">
        <div class="page-spaceing">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!5e0!3m2!1sen!2sus!4v1514524647889" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div >
        <div class="page-spaceing">
     <h2> INTERNATIONAL RESIDENCY</h2>
    </div>
    </div>

</div>
</div>
</body>
</html>