<div style="background-color: lightpink; text-align: center;">
    <br>    <h2>View Customer Details</h2>    <div>
      <div>
        <label><b>Id : </b></label>{{ customer.id}}
      </div>
      <div>
        <label><b>Name : </b></label>{{ customer.name }}
      </div>
      <div>
        <label><b>EmailId : </b></label>{{ customer.emailId }}
      </div>
      <div>
        <label><b>Address : </b></label>{{ customer.address }} 
      </div>
      <div>
        <label><b>Mobile : </b></label>{{ customer.mobile }} 
      </div>
      
      <div>
        <label><b>CheckIn : </b></label>{{ customer.checkIn }}
      </div>
      <div>
        <label><b>CheckOut : </b></label>{{ customer.checkOut }}
      </div>
    </div>
    <br><br>
    <div>
        <iframe width="700" height="405" src="https://www.youtube.com/embed/6y3rHNjBcOM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
